@import "tailwindcss";
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat_underline";
  src: url("/fonts/MontserratUnderline-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "RadioCanadaBig";
  src: url("/fonts/RadioCanadaBig-VariableFont_wght.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*baggrundsFarver */
  --color-bg1: #0d0d0d;
  --color-bg2: #1a1a1a;
  /*tekstfarver*/
  --color-text-white: #fafafa;
  --color-text-black: #0d0d0d;

  /*main color varianter*/
  --color-main-400: #f5e400;
  --color-main-500: #006d75;
  --color-main-600: #f5e400;
  --color-secondary-400: #f5a600;
  --color-secondary-500: #f5a600;
  --color-secondary-600: #f5a600;

  /*ACCENTcolors*/
  --color-accent_red: #ff595e;
  --color-accent_yellow: #ffca3a;
  --color-accent_green: #8ac926;
  --color-accent_blue: #1982c4;
  --color-accent_purple: #1982c4;

  /*Typografi */
  --font-display1: "Montserrat", sans-serif;
  --font-display2: "Montserrat_underline", sans-serif;
  --font-sans: "RadioCanadaBig", sans-serif;
}

@layer base {
}

@layer components {
}

@layer utilities {
}
