---
import MainLayout from "../layouts/MainLayout.astro";
import About from "../components/section_about.astro";
import About_side from "../components/section_about_side.astro";
import SectionProjects from "../components/Section_projects.astro";
---

<MainLayout title="Nicolai Schou">
  <main class="bg-bg1">
    <section class="about_me grid lg:grid-cols-12 bg-bg1">
      <About />
      <About_side />
    </section>
    <section class="ansøgning"></section>
  </main>
</MainLayout>
