---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import me from "../assets/images/me_image_wide.png";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Skills from "../components/Skills.astro";
import Hero from "../components/Hero.astro";
import Card from "../components/Card.astro";
---

<MainLayout title="Titel">
  <Hero />
  <main class="">
    <!---_________________________________________________________________________________________________________________-->
    <section class="about_me grid lg:grid-cols-12 bg-bg1">
      <!----------------------------- main ---------------------------------------->
      <div class="p-6 lg:p-20 lg:col-start-5 lg:col-span-8">
        <!--------- hvem er jeg -------------->
        <div class="grid gap-10 lg:grid-cols-8">
          <Heading
            htmlheading="h2"
            type="section_heading"
            stylingclasses="text-text-white  lg:col-start-1 lg:col-span-8 xl:col-start-5 xl:col-span-3 xl:row-start-1"
            >Hvem er Jeg som Designer</Heading
          >
          <img
            src={me.src}
            alt="Nicolai Schou"
            class="object-cover h-100 lg:col-start-1 lg:col-span-8 xl:col-start-2 xl:col-span-3 xl:row-span-2"
          />
          <div
            class="flex flex-col lg:col-start-1 lg:col-span-8 xl:row-start-2 xl:col-start-5 xl:col-span-3"
          >
            <Text teksttype="brødtekst" stylingclasses="text-text-white "
              >Jeg er en kreativ og detaljeorienteret
              multimediedesigner-studerende med stor interesse for UX og UI
              design. Jeg brænder for at skabe løsninger, der både ser godt ud
              og er lette at bruge. Med baggrund i bl.a. prototyping,
              brugerinddragelse og basal webudvikling har jeg fokus på at
              omsætte idéer til konkrete digitale koncepter.</Text
            >

            <Text teksttype="brødtekst" stylingclasses="text-text-white">
              Som person er jeg nysgerrig, lærenem og motiveret af at udvikle
              mig fagligt. Jeg arbejder struktureret, men har også en kreativ
              tilgang, hvor jeg altid prøver at finde nye og bedre måder at løse
              opgaver på.</Text
            >
          </div>
        </div>
      </div>
      <!----------------------------- sidebar ---------------------------------------->
      <div class="bg-bg2 lg:p-20 lg:col-start-1 lg:col-span-4 lg:row-start-1">
        <Heading
          htmlheading="h2"
          type="div_heading"
          font="display2"
          stylingclasses="text-text-white"
          >"Digital design med fokus på UX, UI prototyping"</Heading
        >
        <!-- kontaktliste -->
        <div class="contactlist"></div>
      </div>
      <!----------------------------- skilllist ---------------------------------------->
    </section>
    <Skills />
    <!---_________________________________________________________________________________________________________________-->

    <section class="projekter">
      <Card />
    </section>
    <section class="ansøgning"></section>
  </main>
</MainLayout>
