---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Heading from "../components/Heading.astro";
import heroImage from "../assets/images/main.jpg";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
---

<!-- her skal  du lave card med åbent billede tekst og link osv. så du kan vise dit portfolio -->
<section class="px-100">
  <article class="flex px-10 py-6 bg-bg2 rounded-lg gap-4 m-10">
    <img src="https://placehold.co/200x200" alt="" />
    <div class="flex flex-col gap-1">
      <Heading
        htmlheading="h3"
        ,
        type="div_heading"
        ,
        font="display1"
        ,
        stylingclasses="text-text-white border-b-1 border-text-white"
        ,>Tiltle</Heading
      >
      <Text stylingclasses="text-text-white"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, minima?</Text
      >
    </div>
  </article>
  <article class="flex px-10 py-6 bg-bg2 rounded-lg gap-4 m-10">
    <img src="https://placehold.co/200x200" alt="" />
    <div class="flex flex-col gap-1">
      <Heading
        htmlheading="h3"
        ,
        type="div_heading"
        ,
        font="display1"
        ,
        stylingclasses="text-text-white border-b-1 border-text-white"
        ,>Tiltle</Heading
      >
      <Text stylingclasses="text-text-white"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, minima?</Text
      >
    </div>
  </article>
  <article class="flex px-10 py-6 bg-bg2 rounded-lg gap-4 m-10">
    <img src="https://placehold.co/200x200" alt="" />
    <div class="flex flex-col gap-1">
      <Heading
        htmlheading="h3"
        ,
        type="div_heading"
        ,
        font="display1"
        ,
        stylingclasses="text-text-white border-b-1 border-text-white"
        ,>Tiltle</Heading
      >
      <Text stylingclasses="text-text-white"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, minima?</Text
      >
    </div>
  </article>
</section>
<!------------------------------------------------------------------------------------>
