---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Heading from "../components/Heading.astro";
import heroImage from "../assets/images/me_image_square.png"; // ✅ fixed path
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
---

<section
  class="grid place-self-center col-start-3 col-span-8 md:grid-cols-2 lg:grid-cols-12"
>
  <img
    src={heroImage.src}
    alt="Me"
    class="lg:col-start-3 lg:col-span-2 lg:row-start-1 lg:row-span-2 place-self-center"
  />
  <div
    class="flex flex-col flex-auto lg:col-start-4 lg:col-span-7 row-start-1 self-center bg-bg1"
  >
    <Heading
      htmlheading="h1"
      type="hero"
      font="display1"
      stylingclasses="text-text-white"
    >
      NICOLAI SCHOU
    </Heading>
    <Heading
      htmlheading="h2"
      type="hero2"
      font="display1"
      stylingclasses="text-text-white"
    >
      Multimedie design studerende
    </Heading>
  </div>
</section>
