---
import me from "../assets/images/me_image_wide.png";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Skills from "../components/Skills.astro";
---

<div class="lg:p-20 lg:col-start-5 lg:col-span-8">
  <!--------- hvem er jeg -------------->
  <div class="grid gap-10 px-60">
    <Heading
      htmlheading="h2"
      type="section_heading"
      stylingclasses="text-text-white xl:col-start-4 xl:col-span-2  xl:row-start-1 xl:row-span-1"
      >Hvem er Jeg som Designer</Heading
    >
    <img
      src={me.src}
      alt="Nicolai Schou"
      class="object-cover h-100 xl:col-start-1 xl:col-span-3 xl:row-start-1 xl:row-span-2"
    />
    <div
      class="flex flex-col xl:col-start-4 xl:col-span-2 xl:row-start-2 xl:row-span-2"
    >
      <Text teksttype="brødtekst" stylingclasses="text-text-white "
        >Jeg er en kreativ og detaljeorienteret multimediedesigner-studerende
        med stor interesse for UX og UI design. Jeg brænder for at skabe
        løsninger, der både ser godt ud og er lette at bruge. Med baggrund i
        bl.a. prototyping, brugerinddragelse og basal webudvikling har jeg fokus
        på at omsætte idéer til konkrete digitale koncepter.</Text
      >

      <Text teksttype="brødtekst" stylingclasses="text-text-white">
        Som person er jeg nysgerrig, lærenem og motiveret af at udvikle mig
        fagligt. Jeg arbejder struktureret, men har også en kreativ tilgang,
        hvor jeg altid prøver at finde nye og bedre måder at løse opgaver på.</Text
      >
    </div>
  </div>
  <Skills />
</div>
