---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";

// Importer alle billederne
import circlelab1 from "../assets/images/Beer-club_0000_circlelab4.webp";
import circlelab2 from "../assets/images/Beer-club_0001_circlela3.webp";
import circlelab3 from "../assets/images/Beer-club_0002_circlelab2.webp";
import circlelab4 from "../assets/images/Beer-club_0003_circlelab1.webp";

import alefarm1 from "../assets/images/Beer-club_0004_alefarm4.webp";
import alefarm2 from "../assets/images/Beer-club_0005_alefarm1.webp";
import alefarm3 from "../assets/images/Beer-club_0006_alefarm2.webp";
import alefarm4 from "../assets/images/Beer-club_0007_alefarm3.webp";

import starfeud1 from "../assets/images/star_feud_1.webp";
import starfeud2 from "../assets/images/star_feud_2.webp";
import starfeud3 from "../assets/images/star_feud_3.webp";
---

<!-- AleFarm Projekt -->
<Card
  title="AleFarm Platform"
  title2="2 Sem. Eksamensprojekt - Alefarm Brewing"
  description="Som en del af et team udviklede jeg forslag til en ny digital løsning for Alefarm Brewing. Fokus var på at skabe en identitet, der kunne understøtte virksomhedens værdier og samtidig styrke deres synlighed og brugeroplevelse."
  images={[
    { src: alefarm1.src, alt: "AleFarm visning 1" },
    { src: alefarm2.src, alt: "AleFarm visning 2" },
    { src: alefarm3.src, alt: "AleFarm visning 3" },
    { src: alefarm4.src, alt: "AleFarm visning 4" },
  ]}
/>

<section class="px-4">
  <!-- CircleLab Projekt -->
  <Card
    title="CircularLab Projekt"
    title2="2 Sem. Kunde case - circular Lab - KEA"
    description="Projektet handlede om at formidle viden om cirkulær økonomi på en engagerende måde. Vi arbejdede med, hvordan komplekse budskaber kan oversættes til en digital løsning, der gør indholdet både tilgængeligt og visuelt interessant for målgruppen."
    images={[
      { src: circlelab1.src, alt: "CircleLab visning 1" },
      { src: circlelab2.src, alt: "CircleLab visning 2" },
      { src: circlelab3.src, alt: "CircleLab visning 3" },
      { src: circlelab4.src, alt: "CircleLab visning 4" },
    ]}
  />

  <Card
    title="Animations spil"
    title2="1 Sem. Tema - Animations Project"
    description="Her arbejdede jeg med kreativitet og interaktive elementer gennem animation. Ved brug af HTML, CSS og JavaScript, kombineret med figurer designet i Illustrator byggede jeg et lille parodispil inspireret af Star Wars, som jeg kaldte Star Feud."
    images={[
      { src: starfeud1.src, alt: "Starfeud visning 1" },
      { src: starfeud2.src, alt: "Starfeudm visning 2" },
      { src: starfeud3.src, alt: "STarfeud visning 3" },
    ]}
  />
</section>
