---
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "./Button.astro";
---

<div
  class="bg-bg2 lg:p-10 lg:col-start-1 lg:col-span-4 lg:row-start-1 flex flex-col justify-between"
>
  <Heading
    htmlheading="h2"
    type="div_heading"
    font="display2"
    stylingclasses="text-text-white"
    >"Digital design med fokus på UX, UI prototyping"</Heading
  >
  <div class="flex flex-wrap gap-4 justify-center bg-bg1 py-10">
    <Heading
      htmlheading="h3"
      type="list_heading"
      font="display2"
      stylingclasses="text-text-white w-full text-center mb-4"
    >
      Kontakt mig
    </Heading>
    <Button variant="privateMail" />
    <Button variant="workMail" />
    <Button variant="call" />
    <Button variant="download" />
  </div>
</div>
