---
import me from "../assets/images/me_image_wide.webp";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Facebook from "../assets/Facebook.svg";
import Instagram from "../assets/Instagram.svg";
import LinkedIn from "../assets/Linkedin.svg";
---

<div class="lg:col-span-7 lg:col-start-5 lg:row-start-1 lg:p-8 mt-25">
  <div class="grid gap-2 lg:gap-4">
    <Heading
      htmlheading="h2"
      type="section_heading"
      stylingclasses="text-text-white px-10 lg:px-0"
    >
      Hvem er Jeg som Designer
    </Heading>

    <div class="flex flex-col xl:flex-row xl:items-stretch">
      <div class="flex-shrink-0 w-full xl:w-2/5">
        <img
          src={me.src}
          alt="Nicolai Schou"
          class="w-full xl:h-full object-contain xl:object-cover object-center rounded-none lg:rounded-lg shadow-lg px-10 lg:px-0"
        />
      </div>
      <div
        class="bg-bg2/50 rounded-lg p-10 lg:p-8 flex-1 flex flex-col justify-between"
      >
        <Text
          teksttype="brødtekst"
          stylingclasses="text-text-white leading-relaxed"
        >
          Jeg er en 23-årig multimediedesign-studerende på KEA med fokus på
          digitalt design, UX/UI og prototyping. Jeg arbejder med at skabe
          løsninger, der kombinerer funktionalitet og visuelt udtryk, og har
          erfaring med Figma, designprocesser, test samt HTML, CSS og
          JavaScript.
        </Text>

        <Text
          teksttype="brødtekst"
          stylingclasses="text-text-white leading-relaxed"
        >
          Som designer er jeg nysgerrig, detaljeorienteret og engageret. Jeg
          motiveres af at skabe brugervenlige koncepter og ser et praktikforløb
          som en mulighed for både at bidrage og udvikle mig gennem konkrete
          projekter i samarbejde med et team.
        </Text>
        <div>
          <h4
            class="text-xl text-text-white leading-relaxed mb-2 uppercase mt-4"
          >
            Følg mig
          </h4>
          <div class="flex space-x-4">
            <!-- Instagram -->
            <a
              href="https://www.instagram.com/n.schousen/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src={Instagram.src} alt="Instagram" class="w-12 h-12" />
            </a>

            <!-- LinkedIn -->
            <a
              href="https://www.linkedin.com/in/niscdesign/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src={LinkedIn.src} alt="LinkedIn" class="w-12 h-12" />
            </a>

            <!-- Facebook -->
            <a
              href="https://www.facebook.com/nschousen"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src={Facebook.src} alt="Facebook" class="w-12 h-12" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
