---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import { Image } from "astro:assets";
import Star from "../assets/Star.svg"; // Import star icon
---

<!-- Webudvikling -->
<article class="bg-bg1">
  <div class="flex flex-col gap-4 p-4">
    <div
      class="flex justify-between items-center gap-4 border-b border-text-white"
    >
      <div class="flex gap-4 items-center">
        <p class="text-accent_blue">⬤</p>
        <Heading
          htmlheading="h2"
          type="div_heading"
          font="display2"
          stylingclasses="text-text-white"
        >
          Frontend Udvikling
        </Heading>
      </div>
      <div class="flex gap-1">
        {
          Array.from({ length: 5 }).map(() => (
            <Image src={Star} alt="star" width="20" height="20" />
          ))
        }
      </div>
    </div>
    <ul class="flex flex-col gap-2 text-text-white">
      <li>HTML, CSS, JavaScript</li>
      <li>Astro, Tailwind, Alpine.js</li>
      <li>VS Code</li>
    </ul>
  </div>
</article>

<!-- Design -->
<article class="bg-bg1">
  <div class="flex flex-col gap-4 p-4">
    <div
      class="flex justify-between items-center gap-4 border-b border-text-white"
    >
      <div class="flex gap-4 items-center">
        <p class="text-accent_yellow">⬤</p>
        <Heading
          htmlheading="h2"
          type="div_heading"
          font="display2"
          stylingclasses="text-text-white"
        >
          UX/UI design
        </Heading>
      </div>
      <div class="flex gap-1">
        {
          Array.from({ length: 4 }).map(() => (
            <Image src={Star} alt="star" width="20" height="20" />
          ))
        }
      </div>
    </div>
    <ul class="flex flex-col gap-2 text-text-white">
      <li>Design af brugergrænseflader</li>
      <li>Figma</li>
      <li>Fokus på god brugeroplevelse</li>
      <li>SEO Optimering</li>
      <li>User Research</li>
    </ul>
  </div>
</article>

<!-- Adobe Pakken -->
<article class="bg-bg1">
  <div class="flex flex-col gap-4 p-4">
    <div
      class="flex justify-between items-center gap-4 border-b border-text-white"
    >
      <div class="flex gap-4 items-center">
        <p class="text-accent_green">⬤</p>
        <Heading
          htmlheading="h2"
          type="div_heading"
          font="display2"
          stylingclasses="text-text-white"
        >
          Adobe Pakken
        </Heading>
      </div>
      <div class="flex gap-1">
        {
          Array.from({ length: 3 }).map(() => (
            <Image src={Star} alt="star" width="20" height="20" />
          ))
        }
      </div>
    </div>
    <ul class="flex flex-col gap-2 text-text-white">
      <li>Illustrator</li>
      <li>Photoshop</li>
      <li>Photoshop</li>
      <li>After Effects</li>
      <li>Adobe Premiere Pro</li>
    </ul>
  </div>
</article>

<!-- Musik -->
<article class="bg-bg1">
  <div class="flex flex-col gap-4 p-4">
    <div
      class="flex justify-between items-center gap-4 border-b border-text-white"
    >
      <div class="flex gap-4 items-center">
        <p class="text-accent_red">⬤</p>
        <Heading
          htmlheading="h2"
          type="div_heading"
          font="display2"
          stylingclasses="text-text-white"
        >
          Musikproduktion og lydteknik
        </Heading>
      </div>
      <div class="flex gap-1">
        {
          Array.from({ length: 5 }).map(() => (
            <Image src={Star} alt="star" width="20" height="20" />
          ))
        }
      </div>
    </div>
    <ul class="flex flex-col gap-2 text-text-white">
      <li>FL Studio</li>
      <li>Ableton Live</li>
    </ul>
  </div>
</article>
