---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Heading from "../components/Heading.astro";
import heroImage from "../assets/images/main.jpg";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
---

<article class="bg-bg1">
  <div class="flex flex-col gap-10 border-b-2 border-text-white">
    <div class="flex place-items-center gap-4 border-b-1 border-text-white">
      <p class="text-accent_blue">⬤</p>
      <Heading
        htmlheading="h2"
        type="div_heading"
        font="display2"
        stylingclasses="text-text-white">Webudvikling</Heading
      >
    </div>
    <div class="flex flex-auto">
      <img src="https://placehold.co/60x40" alt="" />
      <img src="https://placehold.co/60x40" alt="" />
      <img src="https://placehold.co/60x40" alt="" />
    </div>
  </div>
</article>
<!------------------------------------------------------------------------------------>
<article class="bg-bg1">
  <div class="flex flex-col gap-10 border-b-2 border-text-white">
    <div class="flex place-items-center gap-4 border-b-1 border-text-white">
      <p class="text-accent_yellow">⬤</p>
      <Heading
        htmlheading="h2"
        type="div_heading"
        font="display2"
        stylingclasses="text-text-white">Design og prototyping</Heading
      >
    </div>
    <div class="flex flex-auto">
      <img src="https://placehold.co/60x40" alt="" />
      <img src="https://placehold.co/60x40" alt="" />
      <img src="https://placehold.co/60x40" alt="" />
    </div>
  </div>
</article>
<!------------------------------------------------------------------------------------>
<article class="bg-bg1">
  <div class="flex flex-col gap-10 border-b-2 border-text-white">
    <div class="flex place-items-center gap-4 border-b-1 border-text-white">
      <p class="text-accent_red">⬤</p>
      <Heading
        htmlheading="h2"
        type="div_heading"
        font="display2"
        stylingclasses="text-text-white">Musikproduktion og lydteknik</Heading
      >
    </div>
    <div class="flex flex-auto">
      <img src="https://placehold.co/60x40" alt="" />
      <img src="https://placehold.co/60x40" alt="" />
      <img src="https://placehold.co/60x40" alt="" />
    </div>
  </div>
</article>
<!------------------------------------------------------------------------------------>
<article class="bg-bg1">
  <div class="flex flex-col gap-10 border-b-2 border-text-white">
    <div class="flex place-items-center gap-4 border-b-1 border-text-white">
      <p class="text-accent_green">⬤</p>
      <Heading
        htmlheading="h2"
        type="div_heading"
        font="display2"
        stylingclasses="text-text-white">3D-modellering og animation</Heading
      >
    </div>
    <div class="flex flex-auto">
      <img src="https://placehold.co/60x40" alt="" />
      <img src="https://placehold.co/60x40" alt="" />
      <img src="https://placehold.co/60x40" alt="" />
    </div>
  </div>
</article>
<!------------------------------------------------------------------------------------>
<article class="bg-bg1">
  <div class="flex flex-col gap-10 border-b-2 border-text-white">
    <div class="flex place-items-center gap-4 border-b-1 border-text-white">
      <p class="text-accent_purple">⬤</p>
      <Heading
        htmlheading="h2"
        type="div_heading"
        font="display2"
        stylingclasses="text-text-white">Video- og filmproduktion</Heading
      >
    </div>
    <div class="flex flex-auto">
      <img src="https://placehold.co/60x40" alt="" />
      <img src="https://placehold.co/60x40" alt="" />
      <img src="https://placehold.co/60x40" alt="" />
    </div>
  </div>
</article>
<!------------------------------------------------------------------------------------>
<article class="bg-bg1">
  <div class="flex flex-col gap-10 border-b-2 border-text-white">
    <div class="flex place-items-center gap-4 border-b-1 border-text-white">
      <p class="text-accent_orange">⬤</p>
      <Heading
        htmlheading="h2"
        type="div_heading"
        font="display2"
        stylingclasses="text-text-white"
        >Fotoredigering og billedbehandling</Heading
      >
    </div>
    <div class="flex flex-auto">
      <img src="https://placehold.co/60x40" alt="" />
      <img src="https://placehold.co/60x40" alt="" />
      <img src="https://placehold.co/60x40" alt="" />
    </div>
  </div>
</article>
<!------------------------------------------------------------------------------------>
