---
// Henter parametrene fra Astro.props
const { teksttype = "brødtekst", stylingclasses = "" } = Astro.props;

// Definer den styling (Tailwind classes), der gør sig gældende for de forskellige størrelser.
const sizeClasses = {
  konsultativ: "text-base italic font-sans",
  brødtekst: "text-xl my-4 font-sans font-normal",
  stor: "text-lg my-4 font-sans font-normal",
  stor_fed: "text-lg my-4 font-sans font-semibold",
};
---

<p class:list={[sizeClasses[teksttype], stylingclasses]}><slot /></p>
